* {

    box-sizing: border-box;



  }

@font-face {

     font-family: "IntervogueSoft";

    src: url('intervogue-soft-alt-regular.otf');

    font-weight: 400;

}

@font-face {

    font-family: "IntervogueSoft";

    src: url('intervogue-soft-alt-regular.otf');

    font-weight: 500;

}

@font-face {

    font-family: "IntervogueSoft";

    src: url('intervogue-soft-alt-regular.otf');

    font-weight: 700;

}

@font-face {

    font-family: "Soligant";

    src: url('Soligant.otf');

}

.nama-p{

  

}

:root {

    --font-soligant: "Soligant";

    --font-intervogue: "IntervogueSoft";

    --primary-color: #B49E64;

    --secondary-color: #F0E9E0;

    --color-white: #FFFFFF;

    --border-gray: #E8E9EB;

    --text-dark: #000000;

    --text-white: #FFFFFF;

    --text-light: #898989;

    --text-disable: #BDBBB8;

    --transition: all 0.4s;

}

body{

    font-family: var(--font-intervogue);

    font-size: 16px;

    line-height: 1.5;

    letter-spacing: 0.3px;

    color: var(--text-dark);

    font-weight: 400;

    background-color: var(--secondary-color);

    margin: 0;

    padding:0;

}

::-webkit-scrollbar {

    width: 5px;

    height: 5px;

  }



  /* Track */

  ::-webkit-scrollbar-track {

    background: var(--secondary-color);

  }



  /* Handle */

  ::-webkit-scrollbar-thumb {

    background: var(--primary-color);

    border-radius: 60px;



  }



  /* Handle on hover */

  ::-webkit-scrollbar-thumb:hover {

    background: var(--primary-color);

  }



:focus-visible {

    outline: none;

}

h1, h2, h3, h4, h5, h6{

    font-family: var(--font-soligant);

    margin-bottom: 0;

}

 .nama-g{

  font-size: 30px!important;

}

p {

    color: var(--text-dark);

    margin: 0;

}

span {

    display: inline-block;

    line-height: normal;

}

a {

    display: inline-block;

    text-decoration: none;

    cursor:pointer;

    color: var(--text-dark);

    transition: var(--transition);

    &:hover{

        color: var(--primary-color);

    }

}

img {

    display: flex;

    align-items: center;

    justify-content: center;

    text-align: center;

    margin: auto;

}

ul {

    padding-left: 0;

    margin-bottom: 0;

    list-style: none;

}

button{

    outline: none;

    border:none;

    background: transparent;

}



 input, textarea {

    -webkit-appearance: none;

    -moz-appearance: none;

    appearance: none;

  border-radius: 0;

    background-color: transparent;

    outline: none;

    border: none;

}

input:focus, textarea:focus {

    border: none;

    outline: none;

}

/* FIX CLASS */

.p-color{

    color: var(--primary-color);

}

.s-color{

    color:var(--secondary-color);

}

.white-text{

    color:var(--text-white);

}

.c-pointer{

    cursor:pointer;

}

.flex-center{

    display: flex;

    align-items:center;

    justify-content:center;

}

.list-number{

    list-style: decimal !important;

}

.list-disc{

    list-style: disc !important;

}

/* spacing */

.pt-100{

    padding-top:100px;

}

.pb-100{

    padding-bottom:100px;

}

.mt-100{

    margin-top:100px;

}

.mb-100{

    margin-bottom:100px;

}

.mb-20{

    margin-bottom: 20px !important;

}

.mb-40{

    margin-bottom: 40px;

}

.px-75{

    padding-left: 75px;

    padding-right: 75px;

}

.mx-75{

    margin-left: 75px;

    margin-right: 75px;

}

@media (min-width:1200px) and (max-width:1400px) {

    .px-75{

        padding-left: 30px;

        padding-right: 30px;

    }

    .mx-75{

        margin-left: 30px;

        margin-right: 30px;

    }

    .artical-top{

      margin-top:500px!important;

    }

}

@media (max-width:1199px) {

    .px-75{

        padding-left: 24px;

        padding-right: 24px;

    }

    .mx-75{

        margin-left: 24px;

        margin-right: 24px;

    }

    .mb-40{

        margin-bottom: 30px;

    }

    .artical-top{

      margin-top:100px!important;

    }

}

@media (max-width:991px) {

    .pt-100{

        padding-top:70px;

    }

    .pb-100{

        padding-bottom:70px;

    }

    .mt-100{

        margin-top:70px;

    }

    .mb-100{

        margin-bottom:70px;

    }

    .mb-20{

        margin-bottom: 18px !important;

    }

    .mb-40{

        margin-bottom: 20px;

    }

    .artical-top{

      margin-top:100px!important;

    }

}

@media (max-width:767px) {

    .pt-100{

        padding-top:50px;

    }

    .pb-100{

        padding-bottom:50px;

    }

    .mt-100{

        margin-top:50px;

    }

    .mb-100{

        margin-bottom:50px;

    }

    .mb-20{

        margin-bottom: 15px !important;

    }

    .mb-40{

        margin-bottom: 20px;

    }

    .artical-top{

      margin-top:0!important;

    }

}

@media (max-width:575px) {

    .pt-100{

        padding-top:40px;

    }

    .pb-100{

        padding-bottom:40px;

    }

    .mt-100{

        margin-top:40px;

    }

    .mb-100{

        margin-bottom:40px;

    }

    .mb-20{

        margin-bottom: 10px !important;

    }

    .mb-40{

        margin-bottom: 12px;

    }

    .px-75{

        padding-left: 12px;

        padding-right:12px;

    }

    .mx-75{

        margin-left: 12px;

        margin-right:12px;

    }

    .artical-top{

      margin-top:0!important;

    }

}

        .uniquenav-navbar-menu {



            list-style: none;



            display: flex; 

            justify-content: center;

            align-items: center;

            flex-direction: column;

            height: 150vh;

            width: 100%;

            /*background-color: #333;*/

            position: absolute;

              z-index: 1;

              overflow: hidden; 

        }



        .uniquenav-navbar-menu li {

          font-size: 25px;

            margin: 10px 0;

            position: relative;

        }



        .uniquenav-navbar-menu a {

            text-decoration: none;

            color: black;

            padding: 10px;

            display: block;

            transition: background 0.3s;

        }



        .uniquenav-navbar-menu a:hover {

            background-color: #555;

            border-radius: 5px;

        }





        .uniquenav-dropdown-btn {

            background: none;

            border: none;

            cursor: pointer;

            color:black;

            font-size: 25px;

            margin-left: -10px;

            transition: transform 0.3s ease;

        }



        .uniquenav-dropdown-btn.active {

            transform: rotate(180deg); 

        }





        .uniquenav-submenu {

            max-height: 0; 

            overflow: hidden; 

            position: relative;

            list-style: none;

            padding: 0;

            transition: max-height 0.5s ease;

            width: 100%;

        }



        .uniquenav-submenu.active {

            max-height: 800px;

        }



        .uniquenav-submenu li {

            padding: 10px;

            border-top: 1px solid #444;

        }



        .uniquenav-submenu a {

            color:black;

            display: block;

            padding: 5px 0;

        }



        .uniquenav-submenu a:hover {

            background-color: #555;

        }





  /*@media (max-width: 1268px) {



            .uniquenav-navbar-menu {



                

            }

        }*/



        .uniquenav-place-button {

            display: flex;

            justify-content: left;

            place-content: left;

        }

        .insta-icon{

          color: #555;

          font-size: 25px;

        }

/* BUTTON DESIGN */

.rkwedding-btn-main{

    display: flex;

    .rkwedding-btn{

        display: flex;

        align-items:center;

        justify-content:center;

        font-size: 16px;

        font-weight: 500;

        padding: 10px 20px;

        border-radius: 6px;

        color: var(--text-white);

        background-color: var(--primary-color);

        &:hover{

            opacity: 0.9;

        }

    }

}



.rkwedding-main-title{

    margin-bottom: 60px;

    h2{

        font-size: 48px;

        margin-bottom: 40px;

    }

    p{

        margin-bottom: 10px;

    }

}

@media (max-width:1199px) {

    /* BUTTON DESIGN */

   .rkwedding-btn-main{

         .rkwedding-btn{

             font-size: 14px;

             padding: 8px 14px;

         }

     }



    .rkwedding-main-title{

        margin-bottom: 50px;

            h2{

                font-size: 42px;

            }

        }

}

@media (max-width:991px) {

    /* BUTTON DESIGN */

    .rkwedding-btn-main {

        .rkwedding-btn {

            font-size: 12px;

            padding: 7px 12px;

        }

    }

    .rkwedding-main-title {

        margin-bottom: 40px;

        h2 {

            font-size: 36px;

            margin-bottom: 20px;

        }

        p {

            font-size: 20px;

            margin-bottom: 10px;

        }

    }

}

@media (max-width:767px) {

    /* BUTTON DESIGN */

    .rkwedding-main-title {

        margin-bottom: 30px;

        h2 {

            font-size: 26px;

            margin-bottom: 16px;

        }

        p {

            font-size: 20px;

        }

    }

}

@media (max-width:575px) {

    /* BUTTON DESIGN */

    .rkwedding-btn-main {

        .rkwedding-btn {

            font-size: 12px;

            padding: 7px 12px;

        }

    }

    .rkwedding-main-title {

        margin-bottom: 24px;

        h2 {

            margin-bottom: 12px;

        }

        p {

            font-size: 12px;

        }

    }

}

.nama-header{

  display: flex;

  justify-content: center;

  align-items:center;

}

.nama-logo{

 /*margin-top:100px;*/

 /* border-radius: 80%!important;*/

 /* height: 20vh!important;*/

  width:60vw!important;

}

.bottom-nama-logo{

  width:40vw!important;

}

/* HEADER */

.shift{

  margin-top:-20vh;

}

.dropdown-menu{

  width:50vw;

}

 .rkwedding-header {

    position: absolute;

    inset: 0 0 auto;

    padding: 30px 0;

    z-index: 999;

    .rkwedding-logo svg{

        fill: #ffffff;

    }

    .header-menu-list{

        ul li{

            &.active a{

                color: var(--primary-color);

            }

            &:not(:last-child){

                margin-right:50px;

            }

            a{

                color:var(--color-white);

                font-size: 18px!important;



                &:hover{

                    color: var(--primary-color);

                }

            }

        }

    }

    .header-connect-list{

        ul li{

            &:not(:last-child){

                margin-right:50px;

            }

            

            svg{

                fill:var(--color-white) ;

                transition: var(--transition);

            }

            &:hover svg{

                fill: var(--primary-color);

            }

        }

    }

}

.main-cover-img img{

    min-height: 940px;

    object-fit: cover;

}



@media (min-width:1351px) and (max-width:1590px) {

    /* HEADER */

    .rkwedding-header {

        .header-menu-list{

            ul li{

                &:not(:last-child){

                    margin-right: 36px;

                }

            }

        }

    }

}

@media (min-width:1200px) and (max-width:1350px) {

    /* HEADER */

    .rkwedding-header {

        .header-menu-list{

            ul li{

                &:not(:last-child){

                    margin-right: 24px;

                }

            }

        }

    }

     /* HEADER */

     .main-cover-img img{

        min-height: 750px;

    }

}

@media (min-width:1120px) and (max-width:1199px) {

    .rkwedding-header {

        .header-menu-list{

            ul li{

                &:not(:last-child){

                    margin-right:23px;

                }

            }

        }

    }

}

@media (min-width:992px) and (max-width:1119px) {

    .rkwedding-header {

        .header-menu-list{

            ul li{

                &:not(:last-child){

                    margin-right:17px;

                }

                a{

                    font-size: 13px;

                }

            }

        }

    }

}

@media (min-width:992px) and (max-width:1199px) {

    /* HEADER */

    .rkwedding-header {

        padding: 30px 0;

        .rkwedding-logo svg{

            height: auto;

            width: 220px;

        }

        .header-connect-list{

            ul li{

                &:not(:last-child){

                    margin-right:20px;

                }

                a{

                    color: var(--text-white);

                }

            }

        }

    }

     /* HEADER */

     .main-cover-img img{

        min-height: 700px;

    }

}

@media (min-width:768px) and (max-width:991px) {

    /* HEADER */

    .main-cover-img img{

        min-height: 480px;

    }

    .rkwedding-header {

        padding: 18px 0;

        .rkwedding-logo svg{

            height: auto;

            width: 220px;

        }



    }

}

@media (min-width:576px) and (max-width:767px) {

    /* HEADER */

    .main-cover-img img{

        min-height: 360px;

        object-fit: cover;

    }

    .rkwedding-header {

        padding: 18px 0;

        .rkwedding-logo svg{

            height: auto;

            width: 180px;

        }

    }

}

@media (max-width:575px) {

    /* HEADER */

    .main-cover-img img{

        min-height: 290px;

        object-fit: cover;

    }

    .rkwedding-header {

        padding: 18px 0;

        .rkwedding-logo svg{

            height: auto;

            width: 123px;

        }

    }

}

/* HEADER MENU OPEN */



 @media (max-width:991px) {

     .rkwedding-header {

        .rkwedding-logo {

            position: relative;

            z-index: 50;

        }

     .hamburger .top {

     margin-bottom: 3px;            

        width:5vw;

            height: 0.1vh;

        }

     .hamburger .meat {

           margin-bottom: 3px;

            width:5vw;

            height: 0.1vh;

        }

     .hamburger .bottom{

         margin-bottom: 3px;

            width:5vw;

        height: 0.1vh;

        }

        .hamburger {

            position: absolute;

            z-index: 51;

            top: 0;

            bottom: 0;

            display: flex;

            flex-direction: column;

            justify-content: center;

            cursor: pointer;



        }

/*             background-color:#E8E9EB;



             box-shadow: 3px 3px #898989;*/

        .hamburger>div {

          

            position: relative;

            width: 30px;

            height: 2px;

            /*background-color: black;*/

             background-color:#E8E9EB  ;

            /* box-shadow: 3px 3px #898989;*/

             margin-top: 5px;

             transition: all 0.4s ease-in-out;

         }



        /* Hamburger Animation */

        #header-toggle:checked+.hamburger .top {

            transform: rotate(-45deg);

            background-color: var(--text-dark)!important;

                       width:9vw;

        }



        #header-toggle:checked+.hamburger .meat {

            transform: rotate(45deg);

            background-color: var(--text-dark);

            margin-top: -2px;

           width:9vw;

        }



        #header-toggle:checked+.hamburger .bottom {

            transform: scale(0);

        }



        #header-toggle:checked+.hamburger+.header-rspnv {

            top: 0;

            .rkwedding-btn-main .rkwedding-btn{

                /* background-color: var(--text-dark); */

                color: var(--text-white);

            }

        }

        #header-toggle-2:checked ~ .rkwedding-logo svg {

            fill: #000000;

        }

        /* Menu Styling */

        .header-rspnv {

            position: fixed;

            width: 100%;

            height: 100%;

            top: -100%;

            left: 0;

            right: 0;

            bottom: 0;

            z-index: 15;

            overflow: hidden;

            transition: all 0.3s ease-in-out;

            display: flex;

            align-items: center;

            justify-content: center;

            flex-direction: column;

            background-color: var(--secondary-color);



            .header-navbar li {

                margin-bottom: 20px;

                a {

                    font-size: 40px;

                    color: var(--text-dark);

                }

                svg {

                    fill: var(--text-dark);

                }

                .rkwedding-btn-main a{

                    font-size: 20px;

                }

            }

        }



        /* Dropdown Animation */

        #header-toggle:checked+.hamburger+.header-rspnv .header-rspnv-wrapper nav a {

            opacity: 0.9;

            transform: scale(1);

        }

    }

}

@media (max-width:575px) {

    .rkwedding-header {

        .hamburger>div {

            width: 20px;

            height: 1px;

            margin-top: 4px;

        }



        /* Menu Styling */

        .header-rspnv {

            .header-navbar li {

                margin-bottom: 12px;

                a {

                    font-size: 30px;

                }

                .rkwedding-btn-main a{

                    font-size: 16px;

                }

            }

        }

    }

}

/* ARTICAL SECTION */

.rkwedding-artical{

    position:relative;

    h1{

        font-size: 64px;

        position: absolute;

        left: 0;

        right: 0;

        z-index: 10;

        margin: 0 auto;

        text-align: center;

        top: 70px;

        text-transform: uppercase;

        max-width: 740px;

    }

            .main-p{

          margin-top:80px!important;

        }

    .artical-content-main{

        margin-top: 10vw!important;

        margin-left: 20px;

        

        p{

            color: #5B5B5B;

        }

        p:not(:last-child){

            margin-bottom: 20px;

        }

    }

}

.artical-cover-1{

    max-width: 400px;

    max-height: 505px;

    position: relative;

    margin-top: 270px;

}

.artical-cover-2{

    max-width: 460px;

    max-height: 594px;

    position: relative;

    margin-right: auto;

}



@media (min-width:1200px) and (max-width:1500px) {

    /* ARTICAL SECTION */

    .rkwedding-artical{

        h1{

            font-size: 44px;

        }

        .artical-content-main{

            p{

                font-size: 15px;

            }

            p:not(:last-child){

                margin-bottom: 12px;

            }

        }

    }

}

@media (min-width:992px) and (max-width:1199px) {

    /* ARTICAL SECTION */

    .rkwedding-artical{

        h1{

            font-size: 42px;

            top: 30px;

            max-width: 630px;

        }

        .artical-content-main{

            margin-top: 80px;

            margin-left: 0px;

            p{

                font-size: 12px;

            }

            p:not(:last-child){

                margin-bottom: 12px;

            }

        }

        .artical-cover-1{

            margin-top: 200px;

        }

    }

}

@media (min-width:768px) and (max-width:991px) {

    /* ARTICAL SECTION */

    .rkwedding-artical{

        h1{

            font-size: 30px;

            top: 20px;

            max-width: 430px;

        }

        .artical-content-main{

            margin-top: 110px;

            margin-left: 0px;

            p{

                font-size: 11px;

            }

            p:not(:last-child){

                margin-bottom: 10px;

            }

        }

        .artical-cover-1{

            margin-top: 170px;

        }

    }

}

@media (min-width:576px) and (max-width:767px) {

    /* ARTICAL SECTION */

    .rkwedding-artical{

        h1{

            font-size: 24px;

            top: 0px;

            max-width: 400px;

        }

        .artical-content-m
